<div class="">
  <a href="/jobs">Regresar</a>

  <h1>que esta pasando</h1>
  <h1>{{project.title}}</h1>
  <br>
    <h1>{{project.username}} {{project.desc}}</h1>
  <br>
  {{#each project.photos}}
  <img src="{{this}}" alt="fotito">
  {{/each}}

</div>

<style>
img{
  width:300px;
  height:300px
}
</style>
