<h2>Loggeate</h2>
<form action="/login" method="post">
    <input type="email" name="username" placeholder="Escribe tu correo"/><br>
    <input type="password" name="password" placeholder="Tu contraseña"/><br>
    <input type="submit"/>
</form>
