<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

<!-- Hero content: will be in the middle -->
<section class="cuadro2">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
              <img src="images/fixit logo.png" alt="Logo">
            </h1>
            <h2 class="subtitle subtitulo">
              Find the best people for your solutions {{name}}
            </h2>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul class="secciones">
                    <li><a id="how">How it works?</a></li>
                    <li><a id="projects">Projects</a></li>
                    <li><a id="workers">Top Workers</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<div class="container how ">
    <div class="columns is-8">
        <div class="column">
            <i class="fas fa-wrench" style="font-size:80px;"></i> <br><br>
            <h4 class="title is-4">Publish your issue</h4>
        </div>
        <div class="column">  
            <i class="fas fa-phone-volume" style="font-size:80px;"></i><br><br>
            <h4 class="title is-4">Find a worker who meets your needs</h4>            
        </div>
        <div class="column">
            <i class="far fa-handshake" style="font-size:80px;"></i><br><br>
            <h4 class="title is-4">Find the best deals with the best workers</h4>
        </div>
    </div>
</div>

<div class="container projects">
    <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>John Smith</strong>  <small>31m</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <hr>
</article>
</div>

<div class="container workers">
  <div class="columns is-8">
    <div class="column">

<br><br>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/plomero1.jpeg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="images/plomero1.2.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
    </div>
  </div>
</div>


    </div>
    <div class="column">  

<br><br>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/electricista.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="images/electricista1.2.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
    </div>
  </div>
</div>


    </div>
    <div class="column">

<br><br>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/cerrajero1.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="images/cerrajero1.2.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
    </div>
  </div>
</div>


    </div>
  </div>
</div>









<!--<p>Welcome to {{title}} Probando</p>

<form action="/login" method="get">
<label for="">Inicia sesión</label>
  <input type="submit" name="login" value="Login">

</form>

<form action="/signup" method="get">
  <label for="">O registrate</label>
  <input type="submit" name="signup" value="signup">

</form>
-->
