<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

<!-- Hero content: will be in the middle -->
<section class="cuadro2">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
              <img src="images/fixit logo.png" alt="Logo">
            </h1>
            <h2 class="subtitle subtitulo">
              Find the best people for your solutions
            </h2>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul class="secciones">
                    <li><a>How it works?</a></li>
                    <li><a>Projects</a></li>
                    <li><a>Workers</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
</html>









<!--<p>Welcome to {{title}} Probando</p>

<form action="/login" method="get">
<label for="">Inicia sesión</label>
  <input type="submit" name="login" value="Login">

</form>

<form action="/signup" method="get">
  <label for="">O registrate</label>
  <input type="submit" name="signup" value="signup">

</form>
-->
